body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.student-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid orange;
  margin: 10px auto;
}

.student {
  display: inline-block;
  border: 1px solid green;
  padding: 20px;
  margin-bottom: 10px;
  width: 150px;
}

.alan {
  border: 2px solid orange;
}

form {
  background-color: lightyellow;
  padding: 20px;
}

form input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  background-color: white;
  padding: 4px;
  display: block;
  margin-bottom: 20px;
}

form button {
  background-color: #326fd1;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
}

form.remove-job {
  background-color: transparent;
  padding: 0;
}

form.remove-job button {
  font-size: .7rem;
}

.purchased {
  text-decoration: line-through;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 60%;
  margin: 1rem auto;
}

.todo-item {
  padding: 6px 12px;
  border: 1px solid #929c91;
  border-radius: 6px;
  background-color: #e9f0e9;
  margin-bottom: .6rem;
}

.todo-item:hover {
  background-color: #d5ded5;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: gray;
  background-color: #f7fcf7;
}

.done:hover {
  background-color: #e9f0e9;
}

.user-list {
  border-bottom: 1px solid gray;
  margin-bottom: 4rem;
}

.user {
  margin-bottom: 1rem;
}

.user span {
  display: inline-block;
  margin: 0 1rem;
}

.dog-list {
  display: flex;
  flex-wrap: wrap;
}

.dog {
  width: 150px;
  margin: 5px;
}

.dog img {
  width: 100%;
}

.jobs-container {
  border-bottom: 1px solid gray;
  margin-bottom: 4rem;
}

.job-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job {
  width: 250px;
  padding: 1rem;
  background-color: #f5edd7;
  margin: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid green;
  padding: 1rem;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sections a {
  display: block;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: .6rem 1.6rem;
  margin: .5rem 1rem;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.book-card {
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem;
  width: 250px;
}

.book-card img {
  display: block;
  height: 200px;
  border: 1px solid orange;
  margin: 1rem auto;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: darkgray;
  display: block;
  text-align: right;
}

.book img {
  width: 300px;
  display: block;
  margin: 2rem;
  border: 1px solid orange;
}

.book-nav a {
  display: inline-block;
  margin: 0 1rem;
}

.active {
  font-weight: bold;
  color: black;
}
